<%- model_class = NovanetLocationEnrollment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:student_id) %></th>
      <th>Novanet Location</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @novanet_location_enrollments.each do |novanet_location_enrollment| %>
      <tr>
        <td><%= link_to novanet_location_enrollment.id, novanet_location_enrollment_path(novanet_location_enrollment) %></td>
        <td><%= novanet_location_enrollment.student.name %></td>
        <td><%= novanet_location_enrollment.NovanetLocation.name %></td>
        <td><%=l novanet_location_enrollment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_novanet_location_enrollment_path(novanet_location_enrollment), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      novanet_location_enrollment_path(novanet_location_enrollment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_novanet_location_enrollment_path,
            :class => 'btn' %>
